/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
  background-color: rgb(31, 30, 30);
}


body {
  margin: 0px;
  line-height: 1.3;
  font-family: 'Arial', sans-serif;
}






.poster {
  max-width: 150px;
  max-height: 212.5px;
  justify-content: start;
  border-radius: 8px;
}

#header {
  margin-left: 27px;
  margin-top: 18px;
  position: relative;
  justify-content: center;
  width: 76.5px;
  height: 21.25px;
}

#header:hover {
  opacity: 0.8;
}



/* Drama Cards */
.dramaContainer {
  margin-top: 15px;
  /* margin-left: 10px;
  margin-right: 10px; */
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 180px)
}

.dramaCard {
  color:rgb(53, 53, 53);
  height: 420px;
  min-width: 180px;
  opacity: 0.9;
  background-color: #eff3f5;
  /* box-sizing: border-box; */
  /* margin-left: 15px;
  margin-right: 15px; */
  /* padding: 10px 10px; */
  border-radius: 15px;
  opacity: 0.95;

}
.dramaCard:hover {
  box-shadow: 10px 10px 54px -6px rgba(147, 146, 146, 0.75);
  opacity: 1;
  }

.dramaHeadContainer {
  font-size: 12px;
  text-align: center;
}

.dramaDetails {

  display: inline;
  text-align: center;
  font-size: 10px;
  list-style-type: none;
}

#airdate {
  font-style: italic;
}

#current, #total {
  margin-top: 1px;
  font-size: 9px;
}

#synopsis {
  padding: 5px;
}

.dramaDetail {
  text-align: center;
}


/* Buttons */

.addDramaBtn {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
  position: absolute;
  top: 23px;
  right: 30px;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.addDramaBtn:hover {

  border: 0.5px solid white;
  border-radius: 8%;
}

.deleteBtn {
  color: rgb(92, 92, 92);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background: none;
  position: relative;
  padding-top: 20px;
  /* left: 155px;
  top: 30px; */
  opacity: 0.2;
}

.deleteBtn:hover {
  /* border: 1px solid rgb(92, 92, 92);
  border-radius: 10px; */
  opacity: 0.75;
}

.incrementBtn {
  color: rgb(92, 92, 92);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background: none;
  position: relative;
  /* padding-top: 20px; */
  /* left: 155px;
  top: 30px; */
  opacity: 0.2;
}

.incrementBtn:hover {
  opacity: 0.75;

}

/* Create Card Styles */

.createDramaContainer {

}

.title {
  background-color: rgb(247, 247, 247);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #4f5355;
   color: #4f5355;
   width: 250px;
   height: 20px;
   padding-left: 10px;
}

.airdate {
  background-color: rgb(247, 247, 247);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #4f5355;
   color: #4f5355;
   width: 110px;
   height: 20px;
   padding-left: 10px;
}

.plot {
  font-family: 'Lato', sans-serif;

  background-color: rgb(247, 247, 247);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #4f5355;
   color: #4f5355;
   width: 400px;;
   height: 90px;
   padding:  10px 10px 10px 10px;
}

.currentEps {
  background-color: rgb(247, 247, 247);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #4f5355;
   color: #4f5355;
   width: 30px;
   height: 20px;
   padding-left: 10px;
}

.totalEps {
  background-color: rgb(247, 247, 247);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #4f5355;
   color: #4f5355;
   width: 30px;
   height: 20px;
   padding-left: 10px;
}

.createDramaFields {
  font-size: 15px;
  font-style: italic;
  color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
}



.pageHeader2 {
  /* add a drama */
}

#formButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

.backBtn {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
  position: absolute;
  top: 23px;
  right: 30px;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.backBtn:hover {
  border: 0.5px solid white;
  border-radius: 8%;
}

.saveBtn {
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.saveBtn:hover {
  border: 0.5px solid white;
  border-radius: 8%;
}

.cancelBtn {
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.cancelBtn:hover {
  border: 0.5px solid white;
  border-radius: 8%;
}
/*
  MEDIA QUERIES
  0 - 600px - Mobile phones
  600 - 900px - Tablet portrait
  900 - 1200px - Tablet landscape
  1200 - 1800px - Desktop - normal styles
  1800px + Large desktop
*/
/* Mobile */
/* @media screen and (max-width: 600px) {
  .charContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .charCard .charPhoto {
    justify-content: flex-start;
  }
/* }

/* Tablet */
/* @media screen and (min-width: 601px) and (max-width: 900px) {
  .charContainer {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* Normal */
/* @media screen and (min-width: 901px) and (max-width: 1200px) {
  .charContainer {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* Lg Screen
@media screen and (min-width: 1201px) {
  .charContainer {
    grid-template-columns: repeat(5, 1fr);
  }
} * */